#destination-section {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: black;
  .title {
    color: white;
  }

  p {
    padding-bottom: 15px;
  }

  .destination {
    h4 {
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      margin-top: 45px;
    }

    ul {
      li {
        color: #838383;
        text-transform: capitalize;
        line-height: 24px;
      }
    }
  }

  .button {
    padding: 0 20px 0 20px;
  }
}
