  <nav x-data="{ open: false }" @keydown.window.escape="open = false" class="bg-indigo-700">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <img class="h-8 w-8" src="/images/logo.svg" alt="" />
          </div>
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline">
            {{ $currentPage := . }} {{ range $index, $item := .Site.Menus.main }}
            {{ $class := "px-3 py-2 rounded-md text-sm font-medium" }}
                {{ if ($currentPage.IsMenuCurrent "main" $item)}}
                    {{ $class = (printf "%s %s" $class "text-white bg-indigo-800 focus:outline-none focus:text-white focus:bg-indigo-600") }}
                {{ else }}
                    {{ $class = (printf "%s %s" $class "text-indigo-200 hover:text-white hover:bg-indigo-600 focus:outline-none focus:text-white focus:bg-indigo-600") }}
                {{ end }}
                {{ if (ne $index 0 ) }}
                    {{ $class = (printf "%s %s" "ml-4" $class ) }}
                {{ end }}
            <a href="{{ $item.URL }}" class="{{ $class }}">{{ $item.Title }}</a>
            {{ end }}
            </div>
          </div>
        </div>
        <div class="-mr-2 flex md:hidden">
          <button @click="open = !open" class="inline-flex items-center justify-center p-2 rounded-md text-indigo-300 hover:text-white hover:bg-indigo-600 focus:outline-none focus:bg-indigo-600 focus:text-white">
            <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
              <path :class="{'hidden': open, 'inline-flex': !open }" class="inline-flex" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
              <path :class="{'hidden': !open, 'inline-flex': open }" class="hidden" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
      </div>
    </div>
    <div :class="{'block': open, 'hidden': !open}" class="hidden md:hidden">
      <div class="px-2 pt-2 pb-3 sm:px-3">
        {{ $currentPage := . }} {{ range $index, $item := .Site.Menus.main }}
        {{ $class := "block px-3 py-2 rounded-md text-base font-medium" }}
            {{ if ($currentPage.IsMenuCurrent "main" $item)}}
                {{ $class = (printf "%s %s" $class "text-white bg-indigo-800 focus:outline-none focus:text-white focus:bg-gray-700") }}
            {{ else }}
                {{ $class = (printf "%s %s" $class "text-indigo-200 hover:text-white hover:bg-indigo-600 focus:outline-none focus:text-white focus:bg-indigo-600") }}
            {{ end }}
            {{ if (ne $index 0 ) }}
                {{ $class = (printf "%s %s" "mt-1" $class ) }}
            {{ end }}
        <a href="{{ $item.URL }}" class="{{ $class }}">{{ $item.Title }}</a>
        {{ end }}
      </div>
    </div>
  </nav>